/* Автор модификации логотипа - Artem <artem@anfas-news.ru> */

BODY {FONT-FAMILY: Verdana; FONT-SIZE: 13px;}

a.gallery, a.gallery:visited {text-decoration: none; color: #000000;}
a.gallery:hover, a.gallery:active {text-decoration: none; color: #FF9C00;}

A.menu {COLOR: #666666; TEXT-DECORATION: none}
A.menu:hover {COLOR: #009900; TEXT-DECORATION: none}

/* Здесь ниже задаётся стиль для ссылок - все ссылки в квадратиках обведённых нежным оттенком основного цвета */
.pgbutt a {font-family: Verdana; padding-top:2px;padding-bottom:2px;
text-decoration: none; border: 1px #FF0000 solid; background: #FFDDDD; padding:1px 4px 1px 4px; margin: 5px 1 0 0;
 -moz-border-radius: 4px;
 -khtml-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;}


.maininput {FONT-SIZE: 12px; WIDTH: 200px; font-size: 10; color: 000000; border: #808080 1 solid;}
.simpleok {WIDTH: 50px; height:18px; background-color: cccccc; font-size: 10; color: 000000; font-weight: bold; border: #808080 1 solid;}
.longok {WIDTH: 130px; height:20px; background-color: cccccc; font-size: 10; color: 000000; border: #808080 1 solid;}

.toptable {FONT-SIZE: 9px; background: #F5482C}
.maintbl {background: #FAA798}
TABLE.seredina {background: #FFFFFF}

TD {FONT-SIZE: 12px}
TD.menu {FONT-SIZE: 11px; FONT-WEIGHT: bold}
TD.main {FONT-SIZE: 11px; FONT-WEIGHT: bold}

TABLE.bakfon {background: #FF9595}
TR.row1 {background: #FFFFFF}
TR.row2 {background: #FFDDDD}
